html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url('assets/images/texture.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
button{
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
    background: orange;
}
div.onload{
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.startText{
    display: none;
}
div.content{
    display: none;
}

div#placeholder1{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 20px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#token1{
    width: 100px;
    height: 110px;
    background: url('assets/images/token1.png') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 1s;
}
div#mask{
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
div#mask div {
    transition: 0.2s;
    height: 600px;
    width: auto;
    position: absolute;
    overflow-y: scroll;
    background: black;
    border: solid 1px white;
}
div#mask .draggable img{
    height: 100%;
}
div#mask .draggable p{
    width: 200px;
}

.draggable.is-dragging { 
    z-index: 100;
}
